div
{
    min-width: 30px;
    min-height: 30px;
}
html
{
    margin: 5rem;
}

.header1
{
    color:black;
}

.tile-wall
{
    background-color: darkslategrey;
}
.tile-space
{
    background-color: azure;
}
.tile-goal
{
    background-color:green;
}
.entity-player
{
    background-color: yellow;
}   
.entity-block
{
    background-color: tomato;
} 
.entity-block-goal
{
    background-color: orangered;
}

